# Python
__pycache__/
.ipynb_checkpoints/
.venv/

# OS
.DS_Store
Thumbs.db

# Data outputs
data/raw_input/*
data/processed_force_disp/*
data/processed_stress_strain/*

# Keep directory structure
!data/raw_input/.gitkeep
!data/processed_force_disp/.gitkeep
!data/processed_stress_strain/.gitkeep