# Python
__pycache__/
.ipynb_checkpoints/
.venv/

# OS
.DS_Store
Thumbs.db

# Data outputs
data/raw/*
data/processed/*
results/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/.gitkeep